.Rproj.user
.Rhistory
.RData
.Ruserdata
data/BC_Warehouse_Data/Roads/DRA_DGTL_ROAD_ATLAS_MPAR_SP/DRA_MPAR_line.dbf
data/SurveyData_ SPRING_2022.xls
out/Collar_annual_fixes.PNG
data/SurveyData_ SPRING_2022.xls
data/Feiberg/Fieberg et al sightability data and models.zip
data/Feiberg/Fieberg et al sightability data and models/beta_binom_model.txt
data/Feiberg/Fieberg et al sightability data and models/logistic_t_model.txt
data/Feiberg/Fieberg et al sightability data and models/oper_dat.csv
data/Feiberg/Fieberg et al sightability data and models/plot_dat.csv
data/Feiberg/Fieberg et al sightability data and models/scalar_dat.csv
data/Feiberg/Fieberg et al sightability data and models/sight_dat.csv
data/Feiberg/README_for_Fieberg et al sightability data and models.TXT
data/SurveyData_ SPRING_2022.xls
data/SurveyData_ SPRING_2022.xls
data/SurveyData_ SPRING_2022.xls
