.Rproj.user
.Rhistory
.RData
.Ruserdata
data/BC_Warehouse_Data/Roads/DRA_DGTL_ROAD_ATLAS_MPAR_SP/DRA_MPAR_line.dbf
data/SurveyData_ SPRING_2022.xls
out/Collar_annual_fixes.PNG
data/SurveyData_ SPRING_2022.xls
data/Feiberg/Fieberg et al sightability data and models.zip
data/Feiberg/Fieberg et al sightability data and models/beta_binom_model.txt
data/Feiberg/Fieberg et al sightability data and models/logistic_t_model.txt
data/Feiberg/Fieberg et al sightability data and models/oper_dat.csv
data/Feiberg/Fieberg et al sightability data and models/plot_dat.csv
data/Feiberg/Fieberg et al sightability data and models/scalar_dat.csv
data/Feiberg/Fieberg et al sightability data and models/sight_dat.csv
data/Feiberg/README_for_Fieberg et al sightability data and models.TXT
data/SurveyData_ SPRING_2022.xls
data/SurveyData_ SPRING_2022.xls
data/SurveyData_ SPRING_2022.xls
input/SurveyData_ SPRING_2022.xls
input/jags_output.RData
input/Feiberg/README_for_Fieberg et al sightability data and models.TXT
input/Feiberg/Fieberg et al sightability data and models/sight_dat.csv
input/Feiberg/Fieberg et al sightability data and models/scalar_dat.csv
input/Feiberg/Fieberg et al sightability data and models/plot_dat.csv
input/Feiberg/Fieberg et al sightability data and models/oper_dat.csv
input/Feiberg/Fieberg et al sightability data and models/logistic_t_model.txt
input/Feiberg/Fieberg et al sightability data and models.zip
input/EPU_Priority.csv
input/Elk_SBOT_data.csv
input/elk_mHT.Rdata
input/elk_bayesian.Rdata
input/Effort/EPU_areas.csv
input/Effort/areas_2021.csv
input/Effort/areas_2020.csv
input/Effort/areas_2019.csv
input/Effort/areas_2018.csv
input/Effort/areas_2017.csv
input/Effort/areas_2016.csv
input/Collar_positions/Position-2022-Apr-25_14-29-49.csv
input/Collar Inventory_DATABASE_May_4_2022.xls
input/Capture and Telemetry_DATABASE_April 29_2022 (version 1).xls
input/beta_binom_model_elk2022.txt
input/BC_Warehouse_Data/Roads/DRA_DGTL_ROAD_ATLAS_MPAR_SP/DRA_MPAR_line.shx
input/BC_Warehouse_Data/Roads/DRA_DGTL_ROAD_ATLAS_MPAR_SP/DRA_MPAR_line.shp
input/BC_Warehouse_Data/Roads/DRA_DGTL_ROAD_ATLAS_MPAR_SP/DRA_MPAR_line.prj
input/BC_Warehouse_Data/Roads/DRA_DGTL_ROAD_ATLAS_MPAR_SP/DRA_MPAR_line.dbf
input/BC_Warehouse_Data/Roads/DRA_DGTL_ROAD_ATLAS_MPAR_SP/DRA_MPAR_line.cpg
input/AnimalID_orig.csv
input/Effort/areas_2022.csv
input/jags_input.Rdata
input/mHT_input.Rdata
jags_output.RData
jags_output_Sechelt.RData
out/jags_effort.RData
out/jags_output.RData
out/jags_output_Sechelt.RData
out/mHT.Sechelt_plot.PNG
out/mHT_output.RData
out/tau.jags.xlsx
out/tau.jags_plot1.PNG
out/~$tau.jags.xlsx
out/Results_All.csv
out/Results_2x_plot.jpeg
out/Results_2x.csv
out/Results_2022.jpeg
out/Results_2021.jpeg
out/dist_y2.png
out/dist_y1.png
out/CV.csv
out/Correlation.csv
out/Agreement.csv
out/2x_plot.png
New_Survey_Methods
